body{
    padding-top:500px;
    text-align:center;
    
}
.profile{
    width:175px;
    border-radius: 50%;
    
        
}
#welcome{
    top:0;
    right:0;
    left:0;
    bottom:0;
    display:table;
    position:absolute;
    z-index:9;
    height:500px;
    width:100%;
    background:linear-gradient(#fff6d4 0%,#e7b6fa 100%);
}
.menu{
    z-index:10;
    list-style: none;
    position:fixed;
    top:10px;
    right;30px;
    cursor:pointer;
}
.links{
    font-size:20px;
    float:left;
    color:#f5005e;
    padding-top:5px;
    padding-left:9px;
    padding-right:9px;
    padding-bottom:5px;
}
.links:hover{
    background-color:#eca5fa;
}
.line{
    height:6px;
    width:70px;
    background-color:black;
    margin:8px auto;
}
a{
    text-decoration:none;
}
.article:hover{
    color:palevioletred;
}
.social h3{
    display:inline-block;
}
.social a{
    color:black;
    text-shadow:none;
    
}